.filter-column-header>.cell {
  position: relative !important;
}

.filter-column-header>.cell>.el-icon {
  position: absolute;
  transform: translate(-55%, 30%);
}

.filter-column-header>.cell>.el-table__column-filter-trigger.el-none-outline.el-tooltip__trigger.el-tooltip__trigger {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(-8px, -1px);
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-s-c {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-e-c {
  display: flex;
  justify-content: end;
  align-items: center;
}

.flex-sa-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-se-c {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}