.filter-column-header>.cell {
  position: relative !important;
}

.filter-column-header>.cell>.el-icon {
  position: absolute;
  transform: translate(-55%, 30%);
}

.filter-column-header>.cell>.el-table__column-filter-trigger.el-none-outline.el-tooltip__trigger.el-tooltip__trigger {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(-8px, -1px);
}